image: python:3.10

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

before_script:
  - python -V  # Print out python version for debugging
  - pip install -U pip poetry
  - make

stages:
  - package-check
  - lint-check
  - test

analyze-packages-job:
  stage: package-check
  script:
    - make package-check

lint-job:
  stage: lint-check
  script:
    - make lint-ci

test-job:
  stage: test
  script:
    - make test
  coverage: '/TOTAL.*\s+(\d+%)$/'
