name: 'Deploy on merge'
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  merge-deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'poetry'
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/Hydrogen'
      - name: Install python dependencies
        run: poetry install --only main
      - name: Build Lambda layer
        run: |
          chmod +x scripts/build-layer.sh
          ./scripts/build-layer.sh
      - name: Set up CDK
        run: |
          npm install -g aws-cdk
          npm install
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
          role-session-name: GitHubActions
      - name: CDK Deploy
        run: cdk deploy --all --require-approval never
        env:
          LAZYBOOST_ERROR_EMAIL: ${{ secrets.LAZYBOOST_ERROR_EMAIL }}
          AWS_REGION: us-east-1
